<div class="container">

  <form [formGroup]="form" (submit)="searchHero()">
    <div class="input-container">
      <input type="text" class="input" value="ex: Hulk" id="input-box" formControlName="name" />
      <button class="button" id="submit-button">Pesquisar</button>
    </div>
  </form>
  <div class="list"></div>
  <div class="display-container" id="show-container"></div>

  <div class="card-container" *ngIf="hero">
    <div class="container-character-image">
      <img [src]="hero?.thumbnail?.path + '.' + hero?.thumbnail?.extension"/>
    </div>
    <div class="character-name">{{ hero?.name }}</div>
    <div class="character-description">{{ hero?.description }}</div>
  </div>
</div>

<app-footer></app-footer>
